.offers-module {
    color: $color-primary;
    position: relative;
    background-color: #f1f5f8;

    .offer-text {
        letter-spacing: 3px;
        font-weight: 500;
        margin-bottom: $spacer-0;
    }

    .discount-head {
        font-weight: 600;
    }

    .discount-line {
        width: 280px;
        height: 1px;
        opacity: 1;
        background-color: $color-primary;
        margin-left: $spacer-2;
    }

    #carouselExample {
        margin-top: 60px;
    }

    .car-indicatorleft {
        font-size: $font-md;
        padding: 0;
        width: 30px;
        height: 30px;
        opacity: 1;
        color: $color-white;
        background-color: $color-primary;
        position: absolute;
        top: -110px;
        left: 85%;
    }

    .car-indicatorright {
        font-size: $font-md;
        padding: 0;
        width: 30px;
        height: 30px;
        opacity: 1;
        color: $color-white;
        background-color: $color-primary;
        position: absolute;
        top: -110px;
        left: 90%;
    }

    .card {
        border: none;
        border-radius: 0;
        padding: $spacer-3 $spacer-2;
        position: relative;
        z-index: 8;

        .card-icon {
            font-size: 40px;
            color: $color-hover;
        }

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 40px;
            width: 70px;
            height: 70px;
            background-image: url(../images/discount.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .card-title {
            padding: $spacer-2 $spacer-0;
            font-weight: 700;
        }

        .card-text {
            font-size: $font-sm;
        }

        .card-footer {
            background-color: $color-white;
            border: none;
        }

        .demobtn {
            background-color: $color-hover;
            border: none;
            color: $color-white;
            border-radius: 0;
            padding: $spacer-1 $spacer-4;
            margin-top: $spacer-2;
            position: relative;
            transition: all 0.5s;
            cursor: pointer;

            &::after {
                content: '\f35a';
                font-family: FontAwesome;
                position: absolute;
                right: -15px;
                top: 12px;
                transition: all 0.5s;
                opacity: 0;
            }

            &:hover {
                padding-left: 20px;
                padding-right: 60px;
            }

            &:hover::after {
                right: 25px;
                opacity: 1;
            }
        }
    }

}

@include tablet {
    .offers-module {
        .car-indicatorleft {
            top: -50px;
            left: 80%;
        }

        .car-indicatorright {
            top: -50px;
            left: 90%;
        }
    }
}

@include mobile {
    .offers-module {
        .offer-text {
            letter-spacing: normal;
        }

        .discount-line {
            width: 190px;
        }
    }
}