// Colors
$color-primary:#10385b;
$color-addfooter:#e9e9e9;
$color-newsfooter:#1d7ad0;
$color-linkfooter:#052862;
$color-basefooter:#150d2b;
$color-white:#fff;
$color-hover:#04bbf2;

// Spacing
$spacer-md:5px;
$spacer-0:0;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$section-padding:70px;

// Fonts
$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-lg:20px;
$font-xl:24px;